.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
QC-report.html
.DS_Store
data/.DS_Store
.DS_Store
README.html
tree.html
CHANGELOG.html
hakai-jsp-bowron-es-occurrences.csv
hakai-jsp-bowron_es_prop.csv
jsp-data.Rproj